<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Turbolinks Compatibility <%= "- #{title(@item)}" if item[:filename].include?('libraries') %></title>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style>
		body { 
      padding-top: 40px;
      background: url('/images/bg.gif') repeat center center; 
    }
		</style>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/turbolinks.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap_custom.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/github.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="fb-root"></div>
		<%= render 'header' %>
    <section id="content" class="container-fluid">
      <div class="row-fluid">
        <%= render 'sidebar' %>
        <div id="main" class="span10">
					<div class="markdown-body">
            <%= yield %>
            <script src="//platform.twitter.com/widgets.js"></script>
					</div>
          <%= render 'disclaimer' if item[:filename].include?('libraries') %>
        </div>
      </div>
    </section>
		<%= render 'footer' %>
  </body>
</html>
