<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Turbolinks Compatibility <%= "- #{title(@item)}" if item[:filename].include?('libraries') %></title>
		<style>
		body { 
      padding-top: 40px;
      background: url('/images/bg.gif') repeat center center; 
    }
		</style>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap_custom.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/github.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
		<%= render 'header' %>
    <section id="content" class="container-fluid">
      <div class="row-fluid">
        <%= render 'sidebar' %>
        <div id="main" class="span10">
					<div class="markdown-body">
            <%= yield %>
					</div>
          <%= render 'disclaimer' if item[:filename].include?('libraries') %>
        </div>
      </div>
    </section>
		<%= render 'footer' %>
  </body>
</html>
