<div id="sidebar" class="span2">
  <ul class="nav nav-list">
		<li><a href="/">Home</a></li>
		<li class="nav-header">Solutions</li>
    <% @items.each do |item| %>
      <% if item[:filename].include?('libraries') %>
      <li <%= 'class="active"' if item == @item %>>
				<a href="<%= item.path %>"><%= title(item) %></a>
			</li>
      <% end %>
    <% end %>
		<li class="nav-header">Project</li>
		<li><a href="http://github.com/reed/turbolinks-compatibility">Contribute!</a></li>
		<li><a href="http://github.com/reed/turbolinks-compatibility/issues">Issues</a></li>
		<li class="divider"></li>
		<li><a class="muted" href="https://github.com/reed">&copy; Nick Reed</a></li>
  </ul>
</div>